POSTGRES_HOST=hypertube_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=hypertube
POSTGRES_PORT=5432
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/hypertube"

SERVER_URL=http://localhost:3000
SERVER_PORT=3000
CLIENT_URL=http://localhost:3001
CLIENT_PORT=3001

RESEND_API_KEY=
RESEND_API_EMAIL_FROM=
RESEND_API_EMAIL_TO=  # dev-only

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
SCHOOL_42_CLIENT_ID=
SCHOOL_42_CLIENT_SECRET=

TRANSMISSION_HOST=localhost
TRANSMISSION_RCP_PORT=9091
TRANSMISSION_TORRENT_PORT=51413

REDIS_HOST=localhost
REDIS_PORT=6379
EXPOSED_REDIS_PORT=6379 # dev only (docker override)

TMDB_TOKEN=

YTS_API_URL=
YTS_PROXY_URL=http://localhost:3042
YTS_PROXY_PORT=3042

VPN_IS_ACTIVE=true
VPN_SERVICE_PROVIDER=protonvpn
VPN_TYPE=wireguard
WIREGUARD_PRIVATE_KEY=
WIREGUARD_ADDRESSES=10.2.0.2/32
WIREGUARD_ENDPOINT=
WIREGUARD_PUBLIC_KEY=
DNS=10.2.0.1