POSTGRES_HOST=hypertube_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=hypertube
POSTGRES_PORT=5432
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/hypertube?schema=public"

HOSTNAME=http://localhost
SERVER_PORT=3000
CLIENT_PORT=3001

RESEND_API_KEY=
RESEND_API_EMAIL_FROM=
RESEND_API_EMAIL_TO=//dev-only

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000