.env

apps/server/__tests__/.test-db.json

node_modules/
dist/
*.tsbuildinfo

# Front
.vite/

# Downloads
**/downloads/**
**/server/downloads
!**/downloader/downloads/0/
!**/downloader/downloads/0/**
!**/downloader/downloads/.gitkeep

