.env

node_modules/
dist/
*.tsbuildinfo

# Front
.vite/

# Back
**/prisma/migrations

# Downloads
**/downloads/**
**/server/downloads
!**/downloader/downloads/0/
!**/downloader/downloads/0/**
!**/downloader/downloads/.gitkeep

# Server public
**/server/public/images/**
!**/server/public/images/.gitkeep
