.env

node_modules/
dist/
*.tsbuildinfo

# Front
.vite/

# Back
**/src/generated/prisma
**/prisma/**/migrations
**/prisma/generated

# Downloads
**/downloads/**
!**/downloads/0/
!**/downloads/0/**

# Static
**/static/images/**
!apps/server/static/.gitkeep
